<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated dataFlowConfidentiality -->
      <factory
            uri="http://palladiosimulator.org/dataflow/confidentiality/pcm/0.1.0"
            class="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.provider.ConfidentialityItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated dataFlowConfidentiality -->
      <extender
            uri="http://palladiosimulator.org/PalladioComponentModel/Parameter/5.2"
            class="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.provider.ConfidentialityItemProviderAdapterFactory$ParameterChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated dataFlowConfidentiality -->
      <factory
            uri="http://palladiosimulator.org/dataflow/confidentiality/pcm/0.1.0/characteristics"
            class="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.characteristics.provider.CharacteristicsItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated dataFlowConfidentiality -->
      <extender
            uri="http://palladiosimulator.org/dataflow/dictionary/characterized/1.0"
            class="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.characteristics.provider.CharacteristicsItemProviderAdapterFactory$DataDictionaryCharacterizedChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated dataFlowConfidentiality -->
      <factory
            uri="http://palladiosimulator.org/dataflow/confidentiality/pcm/0.1.0/expression"
            class="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.expression.provider.ExpressionItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated dataFlowConfidentiality -->
      <extender
            uri="http://palladiosimulator.org/dataflow/dictionary/characterized/1.0"
            class="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.expression.provider.ExpressionItemProviderAdapterFactory$DataDictionaryCharacterizedChildCreationExtender"/>
      <extender
            uri="http://palladiosimulator.org/dataflow/dictionary/characterized/expressions/1.0"
            class="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.expression.provider.ExpressionItemProviderAdapterFactory$ExpressionsChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated dataFlowConfidentiality -->
      <factory
            uri="http://palladiosimulator.org/dataflow/confidentiality/pcm/0.1.0/behaviour"
            class="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.behaviour.provider.BehaviourItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated dataFlowConfidentiality -->
      <factory
            uri="http://palladiosimulator.org/dataflow/confidentiality/pcm/0.1.0/repository"
            class="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.repository.provider.RepositoryItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated dataFlowConfidentiality -->
      <extender
            uri="http://palladiosimulator.org/PalladioComponentModel/Repository/5.2"
            class="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.repository.provider.RepositoryItemProviderAdapterFactory$RepositoryChildCreationExtender"/>
   </extension>

</plugin>
