<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dataFlowConfidentiality -->
      <package
            uri="http://palladiosimulator.org/dataflow/confidentiality/pcm/0.1.0"
            class="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.ConfidentialityPackage"
            genModel="model/dataFlowConfidentiality.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dataFlowConfidentiality -->
      <package
            uri="http://palladiosimulator.org/dataflow/confidentiality/pcm/0.1.0/characteristics"
            class="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.characteristics.CharacteristicsPackage"
            genModel="model/dataFlowConfidentiality.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dataFlowConfidentiality -->
      <package
            uri="http://palladiosimulator.org/dataflow/confidentiality/pcm/0.1.0/expression"
            class="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.expression.ExpressionPackage"
            genModel="model/dataFlowConfidentiality.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dataFlowConfidentiality -->
      <package
            uri="http://palladiosimulator.org/dataflow/confidentiality/pcm/0.1.0/behaviour"
            class="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.behaviour.BehaviourPackage"
            genModel="model/dataFlowConfidentiality.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dataFlowConfidentiality -->
      <package
            uri="http://palladiosimulator.org/dataflow/confidentiality/pcm/0.1.0/repository"
            class="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.repository.RepositoryPackage"
            genModel="model/dataFlowConfidentiality.genmodel"/>
   </extension>

</plugin>
