<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated dataFlowConfidentiality -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.presentation.ConfidentialityModelWizardID"
            name="%_UI_ConfidentialityModelWizard_label"
            class="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.presentation.ConfidentialityModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ConfidentialityModelFile.gif">
         <description>%_UI_ConfidentialityModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated dataFlowConfidentiality -->
      <editor
            id="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.presentation.ConfidentialityEditorID"
            name="%_UI_ConfidentialityEditor_label"
            icon="icons/full/obj16/ConfidentialityModelFile.gif"
            extensions="confidentiality"
            class="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.presentation.ConfidentialityEditor"
            contributorClass="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.presentation.ConfidentialityActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated dataFlowConfidentiality -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.characteristics.presentation.CharacteristicsModelWizardID"
            name="%_UI_CharacteristicsModelWizard_label"
            class="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.characteristics.presentation.CharacteristicsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CharacteristicsModelFile.gif">
         <description>%_UI_CharacteristicsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated dataFlowConfidentiality -->
      <editor
            id="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.characteristics.presentation.CharacteristicsEditorID"
            name="%_UI_CharacteristicsEditor_label"
            icon="icons/full/obj16/CharacteristicsModelFile.gif"
            extensions="characteristics"
            class="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.characteristics.presentation.CharacteristicsEditor"
            contributorClass="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.characteristics.presentation.CharacteristicsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated dataFlowConfidentiality -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.expression.presentation.ExpressionModelWizardID"
            name="%_UI_ExpressionModelWizard_label"
            class="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.expression.presentation.ExpressionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ExpressionModelFile.gif">
         <description>%_UI_ExpressionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated dataFlowConfidentiality -->
      <editor
            id="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.expression.presentation.ExpressionEditorID"
            name="%_UI_ExpressionEditor_label"
            icon="icons/full/obj16/ExpressionModelFile.gif"
            extensions="expression"
            class="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.expression.presentation.ExpressionEditor"
            contributorClass="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.expression.presentation.ExpressionActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated dataFlowConfidentiality -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.behaviour.presentation.BehaviourModelWizardID"
            name="%_UI_BehaviourModelWizard_label"
            class="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.behaviour.presentation.BehaviourModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BehaviourModelFile.gif">
         <description>%_UI_BehaviourModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated dataFlowConfidentiality -->
      <editor
            id="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.behaviour.presentation.BehaviourEditorID"
            name="%_UI_BehaviourEditor_label"
            icon="icons/full/obj16/BehaviourModelFile.gif"
            extensions="behaviour"
            class="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.behaviour.presentation.BehaviourEditor"
            contributorClass="org.palladiosimulator.dataflow.confidentiality.pcm.model.confidentiality.behaviour.presentation.BehaviourActionBarContributor">
      </editor>
   </extension>

</plugin>
